inherit "/std/guildroom";
#include "path.h"

void setup()
{
  set_short("%^RED%^The Fighter's Complex:  Training Arena%^RESET%^");
  set_long("%^RED%^The Fighter's Complex:  Training Arena%^RESET%^\n\n"
           "     This is the great training arena of the Daggerford "
           "ability to crush and mangle.  To the north, you can see a stair"
           " well, which leads up to more rooms of the guild.  To the west "
           "a large open faced building.  There is a large sign attached to"
           " a post in the middle of the ground.  Maybe you'd like to get "
           "some more information on this guild about how to join it.\n\n");
  add_item("guildhall", "The Guildhall of the Fighters is to the south, "
           "this is where they meet to discuss ideas "
           "(a noticeably unused building).\n");
  add_item("building", "A large open faced building to the north "
           "where the guild members keep their weapons and armors.\n");
  add_sign("A large sign attached to the wall off to the side.  "
           "It has writting scrawled on it in some "
           "red substance (You're sure its just paint).\n",
           "\t________________________________________  \n"
           "\t|\\______________________________________/| \n"
           "\t||                                      || \n"
           "\t||        %^RED%^WELCOME TO THE ARENA%^RESET%^          || \n"
           "\t||                                      || \n"
           "\t||   -- Type 'join' become a member of  || \n"
           "\t||      fighter's guild.                || \n"
           "\t||   -- For more information on the     || \n"
           "\t||      Fighters' Guild type 'info'.    || \n"
           "\t||   -- To advance your levels type     || \n"
           "\t||      'advance'.                      || \n"
           "\t||   -- To see how much it will take    || \n"
           "\t||      out of you to improve yourself  || \n"
           "\t||      type 'cost'.                    || \n"
           "\t||                                      || \n"
           "\t||______________________________________|| \n"
           "\t|/______________________________________\\| \n\n");
  set_light (100);
  add_clone(CHAR+"knight.c",2);
  set_exit_color("blue");
  add_exit ("west", DAGG+"drill2", "door");
  add_exit("north", ROOM+"stair2.c", "corridor");
  modify_exit("south", ({"function", "go_daggfight"}));
  modify_exit("north", ({"function", "go_daggfight"}));
  set_guild("warriors/fighter");
}

int go_daggfight()
{
  if(this_player()->query_guild_name() != "fighter")
  {
    notify_fail("The door refuses to open for you.\n");
    return 0;
  }
  tell_object(this_player(), "May your sword serve you well.\n");
  return 1;
}
