/* Hamlet -- November 1995 */
/* Fred, The respond_give example. */
/* If you really want to clone this, move it to a .c in your dir. */

inherit "/obj/monster";
inherit "/std/basic/respond_give.c";

object money;
object dagger;
object beer;

void setup() {
  set_name("fred");
  set_short("Fred");
  set_long("You see a big, stupid NPC.\n");
  set_gender(1);

  respond_give("got_dagger","dagger");
  respond_give("got_money",({"money","platinum",5}));
}

void init() {
  give_init();
  ::init();
}

void do_our_stuff(object player) {
  tell_object(player,"Fred says: Hey, thanks.  I needed that dagger and "
              "that money.\n");
  dagger->dest_me();
  money->dest_me();
  beer = clone_object("/std/item");
  beer->set_name("beer");
  beer->set_holdable(1);
  beer->move(player);
  tell_object(player,"Fred gives you a beer.\n");
  tell_room(environment(player),"Hamlet frowns as Fred gives "+
            player->query_cap_name()+" his beer.\n",({ player }));
}

void got_dagger(object player, object *items) {
  dagger = items[0];
  if(money) 
    do_our_stuff(player);
}

void got_money(object player, object *items) {
  money = items[0];
  if(dagger)
    do_our_stuff(player);
}
